
.bannerh{
position: relative;
width: 100%;
height:635px;
background: url('../img/banner.jpg') center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
 overflow: hidden;
}


header{
	/*border: 2px red solid;*/
	overflow: hidden;
	width: 100%;
	/*background-color: #e5e3e2;*/
    background-color: rgba(253, 254, 254, .8);
}
.logo{
	width: 20%;
	margin-left: 5%;
}
nav{
	/*border: 2px red solid;*/
	margin-right: 5%;
	margin-top: 5%;
}
nav ul{
	/*border: 2px green solid;*/
	padding: 20px;
}
nav ul .selector{
	/*border: 2px yellow solid;*/
	padding: 20px;
	text-decoration: none;
    color: #000;
	font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
.selector:hover{
	color: #BA95C5;
}
#select{
	color: #BA95C5;
}

.op-menu{
    display: none;
}
.text-banner{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
    margin-top: 8%;
}

.seccion1{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 2% 0% 0% 0%;
}

.somos{
  width: 100%;
  overflow: hidden;
}
.somos h1{
  margin-top: 5%;
  color: #373737;
  text-align: center;
}
.texto{
  /*border:2px red solid;*/
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}
.mvv{
  width: 100%;
  overflow: hidden;
  background-color:  #1b2631 ;
  color: #fff;
  padding-top: 40px;
}
.margen{
  margin-top: 10%;
  margin-bottom:10%;
}

.iconos{
	text-align: center;
    color: #BA95C5;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-danger.btn-outline {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.btn-danger.btn-outline:hover {
    color: #fff;
}
.banner2{
  /*outline: 2px red solid;*/
  /*margin-top: 1%;*/
   position: relative;
   width: 100%;
    /*height: 407px;*/
    height:315px;
    background: url('../img/bannern.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    overflow: hidden;
}
.seccion2{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 9% 0% 9% 0%;
	background-color: #1b2631;
}


.card *:hover{
  text-decoration: none;
}

.card .thumbnail{
  padding: 0;
  border: none;
  text-align: center;
  border-radius: 0;
  -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
}

.card .thumbnail .caption{
  margin: -20px 20px 20px 20px;
  padding: 19px 29px 19px 29px;
  position: relative;
  background-color: white;
}

.card .thumbnail .caption h3 small{
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 400;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  display: block;
  padding: 5px;
}

.card .thumbnail .caption h3{
  font-family: 'Raleway',sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  margin-top: 0;
  /*text-transform: uppercase;*/
  font-size: 18px;
}

.card .thumbnail .caption hr{
  border-top: 1px solid #333;
  margin: 20px 40px;
}

.card .thumbnail .caption p{
  font-size: 12px;
  line-height: 1.6;
}

.card .thumbnail .caption button{
  border-radius: 0;
  color: #aaa;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card .thumbnail .caption button:hover{
  background-color: black;
  border-color: black;
  color: white;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}











.seccion3{
	width: 100%;
	overflow: hidden;
	/*border: 2px red solid;*/
	padding: 0% 0% 3% 0%;
}
.mapa{
	width: 100%;
	overflow: hidden;
}
.mapa iframe{
	width: 100%;
}
.text-dise-nosotros{
    margin-top: 5%;
}
.textt-nosotros{
    margin-top: 20px;
}
.text-nosotros{
    margin-top: 60px;
}

.margen-arriba{
    margin-top: 60px;
}


#contact{  
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  height: 550px;
  background-color: #1B2631;
  color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}


/*--------------FOOTER----------*/
footer{
  width: 100%;
  background:#BA95C5;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  /*font-size: 20px;*/
  overflow: hidden;
  clear: both;

}
footer p{
  /*border: 2px red solid;*/
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 2.5%;
    color: #000;
}

.ir-arriba {
	display:none;
	padding:20px;
	background:#BA95C5;
	font-size:20px;
	color:#000;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 100;
}